<div class="container-fluid pt-3" id="bglogin">
  <h2 style="color: rgb(17 65 159);">{{data1}}</h2>
  <div class="row">

    <div class="col-lg-6">
      <div class="w-50 text-center mt-5 ms-4 mb-4" id="login">
        <form class="p-3" action="">
          <h2 class="mt-3 text-center ">Sign In</h2>

          <div class=" p-2 ">
            <input (change)="acChange($event)"  id="u1" type="text" placeholder="Enter Account No." class="form-control">
            <!-- (change)="acChange($event)"     [placeholder]="data2" -->
            <!-- #acno -->
          </div>

          <div class="mt-3 p-2">
            <input (change)="pwdChange($event)"   id="p1" type="password" placeholder="Enter PassWord" class="form-control">
            <!-- (change)="pwdChange($event)"         -->
            <!-- #pwd -->
          </div>

          <div class="mt-3 p-2">
            <button (click)="login()" type="button" class="btn btn-primary mb-4" id="logibtn">Login</button>
            <!-- (click)="login()" -->
            <!-- (click)="login(acno,pwd)" -->
            <p style="color: rgb(17 65 159);font-weight: 450;">Don't have account?  <a href="#">create account</a></p>
          </div>

        </form>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="" id="image" style="margin-top: 60px;">
        <img src="https://i.postimg.cc/zf5mQNyL/mobile-banking.webp" alt="" srcset="">
      </div>
    </div>

  </div>
</div>