<div class="container-fluid pt-4" id="bgsign">
    <div class="row">    
        <div class="col-lg-6 col-md-12 ">
          <div class="w-50 text-white text-center mt-4  ms-4 mb-4" id="signup">
            
            <form class="p-3" action="">
              <h2 class="mt-3 text-center ">Sign Up</h2>
              <div class=" p-2 ">
                <input type="text" id="u1" placeholder="Enter Account No." class="form-control">
              </div>

              <div class="mt-3 p-2 ">
                <input type="text" id="u1" placeholder="Enter UserName" class="form-control">
              </div>
    
              <div class="mt-3 p-2">
                <input type="text" id="p1" placeholder="Enter PassWord" class="form-control">
              </div>

              <div class="mt-3 p-2">
                <input type="text" id="p1" placeholder="Confirm PassWord" class="form-control">
              </div>
    
              <div class="mt-3 p-2">
                <button (click)="signup()" class="btn btn-primary mb-2" id="signbtn">Create</button>
              </div>
            </form>
          </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="" id="image" style="margin-top: 55px;">
      
              <!-- background-image: url('./assets/ebank3.jpg'); -->
              <img src="https://i.postimg.cc/mrwxfn9m/signup.jpg" alt="" srcset="">
            </div>
      
      
          </div>
    </div>
    
</div>