<nav class="navbar navbar-expand">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto  ms-5">
            </ul>
            <ul class="navbar-nav me-5 mb-2 mb-lg-0 ">
                <li class="nav-item ">
                    <a class="nav-link " aria-current="page" href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Balance Check</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Money Transfer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Account Statements</a>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="btn" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <!-- <i class="fa-solid fa-circle-user fa-lg"></i> -->
                            <i class="fa-solid fa-circle-user fa-2x" style="color: #e2e8f3;"></i>

                        </button>
                        <ul class="dropdown-menu ">
                            <li><a class="dropdown-item" href="#">View Profile</a></li>
                            <li><a class="dropdown-item" href="#">Delete Account</a></li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </div>
                </li>
                <!-- <li class="nav-item">
                    <button type="submit" class="btn nav-link" id="button">
                        <i class="fa-solid fa-circle-user fa-2xl" style="color: #e2e8f3;"></i>
                        <i class="fa-solid fa-circle-user fa-2xl" style="color: #223659;"></i>
                      </button>
                </li> -->

            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" id="home">
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <div id="d1" class="text-center pt-5">
                <h3 class="pt-3 pb-3">Welcome Alan</h3>
                <h1 class="pt-2">Enjoy Net Banking with<span style="color: gold;"> SBI</span></h1>
                <p class="mt-4 pt-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione sunt eveniet consectetur at, sint
                    deserunt similique eum iure architecto deleniti suscipit reiciendis soluta quos culpa unde? Nobis
                    aperiam accusamus exercitationem.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit repellat illum, officia atque nobis
                    ipsa reiciendis ipsam laborum nam iure quo provident aspernatur fugit molestiae perspiciatis.
                    Excepturi expedita officia ipsam.    
                </p>
            </div>
            <!-- <div class="mt-5 mb-4 ps-5" style="float: left;">
                <button id="b1"type="button" class="btn btn-lg ms-3 me-5">Balance Check</button>
                <button id="b1"type="button" class="btn btn-lg me-5">Money Tranfer</button>
                <button id="b1"type="button" class="btn btn-lg">Account Statements</button>

            </div> -->
        </div>

        <div class="col-lg-5 col-md-12">
            <div id="d2">
                <img src="https://i.postimg.cc/jSy0v2S0/mobBank.jpg" alt="" srcset="">
            </div>

        </div>

    </div>

</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>